.header{
    display: flex;
    background-color: #273d5c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: aliceblue;
    padding: 48px;
    gap:1000px;
}

.logo{
    flex: 1;
}

.links{
    display: flex;
    flex: 1;
    align-self: flex-end;
    margin: 24px;
    flex-direction: row;
    gap: 24px;
    color: aliceblue;
}

.body1{
    display: flex;
    background-color: #273d5c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    justify-content: center;
    padding: 150px;
    
}

.profile{
    flex: 1;
    margin: 25px;
}

.hello{
    font-size: 45px;
}

.blurb{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.button{
    font-size: 40px;
    color: aliceblue;
}

 .image{
    flex: 1;
    height: 20px;
    width: auto;
 }